@model MvcStok.Models.Entity.TBLKATEGORİLER
@{
    ViewBag.Title = "YeniKategori";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<form class="form form-group" method="post">
    <!--<-->@*div>
        <label>Kategori Adı</label>
        <input type="text"  class="form form-control" name="KATEGORİAD"/>



    </div>*@
        <div>
            <label>Kategori Adı</label>
            @Html.TextBoxFor(m=>m.KATEGORİAD,new  { @class="form-control"})
    @Html.ValidationMessageFor(m=>m.KATEGORİAD,"",new {@style="color:red"})
        </div>
    <br/>


    <div>
        <button class="btn btn-info"> Kategori Ekle</button>
    </div>

</form>

